
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
      overflow: hidden;
    
}


.container{
    color: rgba(33, 139, 226, 0.844);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 100vw;
    height: 100vh;
     background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% ); 
 
}

img{
    width: 200px;
    
      
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px); /* Safari ke liye */
border-radius:16px;
  backdrop-filter: blur(12px);            /* frosted blur */
  -webkit-backdrop-filter: blur(12px);    /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 40px;
  animation:  animat 1.s ease-in 0s infinite forwards ;
  position: relative;
    gap:1.5rem;
    
}
.temp{
    font-size: 2.7rem;
      animation: animate 0.8s ease-in 0.2s 1 forwards ;
}
.s{
    font-size: 1.5rem;
      animation: animate 0.8s ease-in 0.2s 1 forwards ;
}
.info{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 37px;
  animation: animate 0.8s ease-in 0.2s 1 forwards ;
}
@keyframes animate {
    from{
        width: 0px;
    }
    to{
     width: max-content;
    }
}

@keyframes bgScroll {
  from { background-position: 0 0; }
  to   { background-position: -929px 0; }
}

@keyframes rotat {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}


/* Sun circle - top right corner mein fixed */
